<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>RV Campus Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/loc.css">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/images/rvhs-logo.png">
</head>

<body>

    <!-- Navigation Bar -->
    <%- include('partials/nav') %>

    <!-- Main Banner Section -->
    <div class="main-banner">
        <div class="bg-img-container">
            <img src="/images/<%= facilityData.imagelink %>" alt="">
        </div>
        <div class="page-content">
            <div class="banner-text load-fadein">
                <h1 class="hoverify"><%= facilityData.name %></h1>
                <h4 class="hoverify"><%= facilityData.desc %></h4>
            </div>

            <!-- Embedded View (Map, Tour, etc.) -->
            <iframe width="100%" height="500px" allowFullScreen="true" allow="accelerometer; magnetometer; gyroscope" src="<%= facilityData.viewcode %>"></iframe>
        </div>
    </div>

    <!-- Spacer at the bottom of the page -->
    <div class="bottomspace"></div>

    <!-- Footer Credits -->
    <%- include("partials/creds") %>

    <!-- JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4b57d90043.js" crossorigin="anonymous"></script>
    <script src="/js/fadein.js" charset="utf-8"></script>
    <script src="js/home.js"></script>

    <!-- Extra Section: Summary Heading -->
    <h1 class="title-report" id="summary"></h1>

</body>
</html>
